Repository mat1jaczyyy/apollo-studio, pull requests merged in 2019-11, with the labels that each got.

#297 Fade 'Smoothness' Options
  Apollo/Binary/Common.cs
  Apollo/Binary/Decoder.cs
  Apollo/Binary/Encoder.cs
  Apollo/Components/FadeThumb.cs
  Apollo/Components/FadeThumb.xaml
  Apollo/DeviceViewers/FadeViewer.cs
  Apollo/DeviceViewers/FadeViewer.xaml
  Apollo/Devices/Fade.cs
  Apollo/Enums/Enums.cs
  Apollo/Windows/PreferencesWindow.cs
Labels: device, enhancement

#298 Color: Revert to 63 (0x3F) as maximum value
  Apollo/Binary/Decoder.cs
  Apollo/Components/ColorPicker.cs
  Apollo/DeviceViewers/PreviewViewer.cs
  Apollo/Elements/Launchpad.cs
  Apollo/Helpers/AbletonConnector.cs
  Apollo/Helpers/Palette.cs
  Apollo/Structures/Color.cs
  Apollo/Windows/LaunchpadWindow.cs
  Apollo/Windows/PreferencesWindow.cs
Labels: bug, midi

#301 FadeViewer: Color of new thumbs matches visible gradient
  Apollo/DeviceViewers/FadeViewer.cs
Labels: device, enhancement, ui

#299 Change page system to macros
  Apollo/Binary/Common.cs
  Apollo/Binary/Decoder.cs
  Apollo/Binary/Encoder.cs
  Apollo/Components/DeviceAdd.xaml
  Apollo/Components/Dial.cs
  Apollo/Components/MacroRectangle.cs
  Apollo/Components/MacroRectangle.xaml
  Apollo/Core/Preferences.cs
  Apollo/DeviceViewers/ChokeViewer.cs
  Apollo/DeviceViewers/ColorFilterViewer.cs
  Apollo/DeviceViewers/CopyViewer.cs
  Apollo/DeviceViewers/DelayViewer.cs
  Apollo/DeviceViewers/FadeViewer.cs
  Apollo/DeviceViewers/GroupViewer.cs
  Apollo/DeviceViewers/HoldViewer.cs
  Apollo/DeviceViewers/LayerFilterViewer.cs
  Apollo/DeviceViewers/LayerViewer.cs
  Apollo/DeviceViewers/MacroFilterViewer.cs
  Apollo/DeviceViewers/MacroFilterViewer.xaml
  Apollo/DeviceViewers/OutputViewer.cs
  Apollo/DeviceViewers/PageFilterViewer.cs
  Apollo/DeviceViewers/PageFilterViewer.xaml
  Apollo/DeviceViewers/SwitchViewer.cs
  Apollo/DeviceViewers/SwitchViewer.xaml
  Apollo/DeviceViewers/ToneViewer.cs
  Apollo/Devices/MacroFilter.cs
  Apollo/Devices/PageFilter.cs
  Apollo/Devices/Switch.cs
  Apollo/Elements/Launchpad.cs
  Apollo/Elements/Project.cs
  Apollo/Structures/Signal.cs
  Apollo/Windows/PatternWindow.cs
  Apollo/Windows/PreferencesWindow.cs
  Apollo/Windows/PreferencesWindow.xaml
  Apollo/Windows/ProjectWindow.cs
  Apollo/Windows/ProjectWindow.xaml
  Publish/publish.bat
Labels: device, enhancement

#304 Copy curves and Offset Absolute mode
  Apollo/Binary/Decoder.cs
  Apollo/Binary/Encoder.cs
  Apollo/Components/CopyOffset.cs
  Apollo/Components/CopyOffset.xaml
  Apollo/Components/MoveDial.cs
  Apollo/Components/MoveDial.xaml
  Apollo/DeviceViewers/CopyViewer.cs
  Apollo/DeviceViewers/MoveViewer.cs
  Apollo/DeviceViewers/MoveViewer.xaml
  Apollo/Devices/Copy.cs
  Apollo/Devices/Move.cs
  Apollo/Structures/Offset.cs
Labels: device, enhancement
