Repository mat1jaczyyy/apollo-studio, pull requests merged in 2020-01, with the labels that each got.

#336 Hold: Fix overlapping note-offs not being discarded
  Apollo/Devices/Hold.cs
Labels: bug, device

#334 ColorPicker: Remove "#" in hex display
  Apollo/Components/ColorPicker.cs
  Apollo/Structures/Color.cs
Labels: enhancement, ui

#337 Implements Refresh device
  Apollo/Binary/Common.cs
  Apollo/Binary/Decoder.cs
  Apollo/Binary/Encoder.cs
  Apollo/Components/DeviceAdd.xaml
  Apollo/DeviceViewers/RefreshViewer.cs
  Apollo/DeviceViewers/RefreshViewer.xaml
  Apollo/Devices/Refresh.cs
Labels: device, enhancement

#341 Bilateral pinching with PinchDial
  Apollo/Binary/Decoder.cs
  Apollo/Binary/Encoder.cs
  Apollo/Components/Dial.cs
  Apollo/Components/PinchDial.cs
  Apollo/DeviceViewers/CopyViewer.cs
  Apollo/DeviceViewers/CopyViewer.xaml
  Apollo/Devices/Copy.cs
  Apollo/Windows/PatternWindow.cs
  Apollo/Windows/PatternWindow.xaml
Labels: enhancement, ui

#347 Revert "Implements Refresh device"
  Apollo/Binary/Common.cs
  Apollo/Binary/Decoder.cs
  Apollo/Binary/Encoder.cs
  Apollo/Components/DeviceAdd.xaml
  Apollo/DeviceViewers/RefreshViewer.cs
  Apollo/DeviceViewers/RefreshViewer.xaml
  Apollo/Devices/Refresh.cs
Labels: device

#348 Revert "Revert "Implements Refresh device"" (Refresh for 1.5.0)
  Apollo/Binary/Common.cs
  Apollo/Binary/Decoder.cs
  Apollo/Binary/Encoder.cs
  Apollo/Components/DeviceAdd.xaml
  Apollo/DeviceViewers/RefreshViewer.cs
  Apollo/DeviceViewers/RefreshViewer.xaml
  Apollo/Devices/Refresh.cs
Labels: device, enhancement

#343 Updating Undo/Redo
  Apollo/Components/CopyOffset.cs
  Apollo/DeviceViewers/ChokeViewer.cs
  Apollo/DeviceViewers/ClearViewer.cs
  Apollo/DeviceViewers/ColorFilterViewer.cs
  Apollo/DeviceViewers/CopyViewer.cs
  Apollo/DeviceViewers/DelayViewer.cs
  Apollo/DeviceViewers/FadeViewer.cs
  Apollo/DeviceViewers/FlipViewer.cs
  Apollo/DeviceViewers/HoldViewer.cs
  Apollo/DeviceViewers/KeyFilterViewer.cs
  Apollo/DeviceViewers/LayerFilterViewer.cs
  Apollo/DeviceViewers/LayerViewer.cs
  Apollo/DeviceViewers/LoopViewer.cs
  Apollo/DeviceViewers/MacroFilterViewer.cs
  Apollo/DeviceViewers/MoveViewer.cs
  Apollo/DeviceViewers/PaintViewer.cs
  Apollo/DeviceViewers/RefreshViewer.cs
  Apollo/DeviceViewers/RotateViewer.cs
  Apollo/DeviceViewers/SwitchViewer.cs
  Apollo/DeviceViewers/ToneViewer.cs
  Apollo/Devices/Choke.cs
  Apollo/Devices/Clear.cs
  Apollo/Devices/ColorFilter.cs
  Apollo/Devices/Copy.cs
  Apollo/Devices/Delay.cs
  Apollo/Devices/Fade.cs
  Apollo/Devices/Flip.cs
  Apollo/Devices/Hold.cs
  Apollo/Devices/KeyFilter.cs
  Apollo/Devices/Layer.cs
  Apollo/Devices/LayerFilter.cs
  Apollo/Devices/Loop.cs
  Apollo/Devices/MacroFilter.cs
  Apollo/Devices/Move.cs
  Apollo/Devices/Output.cs
  Apollo/Devices/Paint.cs
  Apollo/Devices/Refresh.cs
  Apollo/Devices/Rotate.cs
  Apollo/Devices/Switch.cs
  Apollo/Devices/Tone.cs
Labels: refactor

#352 Multi device Rewrite
  Apollo/Binary/Decoder.cs
  Apollo/Components/FrameDisplay.cs
  Apollo/DeviceViewers/GroupViewer.cs
  Apollo/DeviceViewers/MultiViewer.cs
  Apollo/Devices/Choke.cs
  Apollo/Devices/Group.cs
  Apollo/Devices/Multi.cs
  Apollo/Devices/Pattern.cs
  Apollo/Elements/Chain.cs
  Apollo/Elements/Device.cs
  Apollo/Elements/Project.cs
  Apollo/Elements/Track.cs
  Apollo/Helpers/Copyable.cs
  Apollo/Selection/Interfaces.cs
  Apollo/Selection/SelectionManager.cs
  Apollo/Structures/Frame.cs
  Apollo/Viewers/ChainInfo.cs
  Apollo/Viewers/ChainViewer.cs
  Apollo/Viewers/DeviceViewer.cs
  Apollo/Viewers/TrackInfo.cs
  Apollo/Windows/PatternWindow.cs
  Apollo/Windows/ProjectWindow.cs
  Apollo/Windows/TrackWindow.cs
Labels: device, refactor
